@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
header {
	height: 100px
	background: white;
	text-align: center;
	line-height: 100px;
}
nav{
	height: 50px;
	background: lightgray;
	display: flex;
	line-height: 50px;
}
nav > a {
	margin: 0 0 0 50px;
}
section {
	height: 500px;
	background: green;
}
section > h3 {
	text-align: center;
	line-height: 50px;
}
section > p {
	margin: 50px 0 0 200px;
}
footer {
	height: 50px;
	background: grey;
	text-align: center;
	line-height: 50px;
}
	